:global(html),
:global(body) {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

:global(body) {
	display: block;
	overflow-x: hidden;
}

:global(#column-3),
:global(.wrap-standard),
:global(.wrap) {
	width: 100%;
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}

:global(#column-3) {
	margin-inline: 0;
	flex: 1 1 auto;
}
